body {
    background-color:#000;
    font-family: Arial, sans-serif;
}


.clear_cookies {
 position: absolute; bottom: 0; right: 0;
}

#textinput {
    width:100%;
    font-size:32px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease 0s;
}

.wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.wrapper > div {
    border: 1px solid #130269;
    border-radius: 5px;
    background-color:#442C76;
    padding: 5px;
    color: #ffffff;
}
.wrapper > div:hover {
    cursor:pointer;
    background-color:#5D3494;
}


.wrapper {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 5px;
     grid-auto-rows: minmax(30px, auto);
 }

#app i.fa, .centered {
    line-height:48px;
    display:block;
    text-align:center;
}

.centered {
    font-weight:bold;
}